footer {
    text-align: center;
    padding: 1rem;
    color: var(--text-primary);
}

.connect-text {
    font-weight: 600;
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-link {
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.social-link:hover {
    border-color: currentColor;
}

.fb {
    color: #1877f2;
}

.li {
    color: #0077b5;
}